@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    min-width: 240px;
}

body {
    overflow-x: hidden;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
    line-height: 1.5;
    background: var(--page-background);
    color: var(--text-color);
    font-weight: var(--font-weight-body);
}

#root {
    display: flex;
    flex-direction: column;
    background: var(--page-background);
    color: var(--text-color);
    font-weight: var(--font-weight-body);
}

/*#region Scrollbar*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 3px;
    transition: background var(--animation-duration) var(--animation-timing-curve);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-opaque);
}

/*#endregion*/

/*#region Common*/

/*react-bootstrap placeholder color*/
::selection {
    background: var(--primary);
    color: var(--input-selection-text);
}

.bg-dark {
    background-color: var(--react-bootstrap-placeholder) !important;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-weight: var(--font-weight);
}

.wallet-content>.table {
    --bs-table-bg: transparent;
    --bs-table-color: var(--text-color);
}

td {
    color: var(--text-color);
    border-style: none;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-nowrap-overflow-ellipsis {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-nowrap {
    white-space: nowrap;
    overflow: hidden;
}

.hyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.pointer-events-none {
    pointer-events: none;
}

.full-width {
    width: 100%;
}

.max-width-100 {
    max-width: 100px;
}

.min-width-0 {
    min-width: 0;
}

.min-width-200 {
    min-width: 200px;
}

.text-right {
    text-align: right;
}

.no-stretch {
    width: 1%;
    white-space: nowrap;
}

.icon-portmonetka {
    fill: var(--primary);
}

.kusya {
    color: var(--kusya);
}

.yasya {
    color: var(--yasya);
}

/*#endregion*/

/*#region Top Panel*/

.top-panel {
    position: sticky;
    top: 0;
    z-index: 5;
    height: 64px;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #101010;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-panel__options {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    margin-right: 0.75rem;
}

button.button--options,
button.button--options:hover,
button.button--options:focus-visible,
button.logo__button,
button.logo__button:hover,
button.logo__button:focus-visible  {
    background: none;
}

button.button--options:hover,
button.button--options:focus-visible {
    color: var(--logo-text-color);
}

button.logo__button:hover {
    color: var(--primary);
}

button.button--options{
    color: var(--logo-text-color);
    width: 40px;
    padding: 0.25rem;
}

.top-panel__username {
    color: var(--logo-text-color);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.button--options:hover>svg,
.button--options:focus-visible>svg {
    fill: var(--primary);
}

/*#endregion*/

/*#region Sidebar*/

.sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 64px;
    height: calc(100dvh - 64px);
    height: calc(100vh - 64px);
    width: 240px;
    flex-shrink: 0;
    overflow: hidden;
    transition: width var(--animation-duration) var(--animation-timing-curve);
}

.logo {
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.75rem;
    text-decoration: none;
    white-space: nowrap;
    margin-top: 0rem;
    padding: 0.75rem 0.25rem 0.75rem 1rem;
    background-color: var(--logo-background);
    transition: all var(--animation-duration) var(--animation-timing-curve);
}

.logo__text {
    color: var(--logo-text-color);
}

.logo__button {
    background: none;
    border: none;
    padding: 0;
    animation: scaleAnimation 12s infinite ease-in-out;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }

    48% {
        transform: scale(1);
    }

    49.4% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.05);
    }

    50.6% {
        transform: scale(1.1);
    }

    52% {
        transform: scale(1);
    }


    100% {
        transform: scale(1);
    }
}

.sidebar__nav-links {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.25rem 0.25rem;
}

.nav-link {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    height: 4rem;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
}

.nav-link.active {
    color: var(--nav-link-active-color);
    background: var(--nav-link-active-background);
}

.nav-link:hover,
.nav-link:focus-visible {
    color: var(--nav-link-hover-color);
    background: var(--nav-link-hover-background);
}

.nav-link__icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.nav-link.active>.nav-link__icon,
.nav-link:hover>.nav-link__icon,
.nav-link:focus-visible>.nav-link__icon {
    fill: var(--primary);
}

.nav-link.active > .nav-link__text {
    font-weight: var(--font-weight-nav-link-active);
}

/*.sidebar */
.nav-link__text {
    width: 100%;
    height: auto;
    opacity: 1;
}

.nav-link__text,
.logo__text {
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.collapsed {
    width: calc(64px + 0.5rem);
    margin-right: 0;
}

.sidebar.collapsed .logo {
    margin: 0 0.25rem 0 0;
    padding: 0.75rem 0.25rem 0.75rem 1rem;
    transition: all var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.collapsed .nav-link__text,
.sidebar.collapsed .logo__text {
    opacity: 0;
    width: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.offcanvas {
    background-color: var(--offcanvas-background);
    max-width: 240px;
}

.offcanvas .sidebar .logo {
    border-radius: 0;
    background-color: var(--offcanvas-sidebar-logo-background);
}

.offcanvas-start {
    border: none;
}

/*#endregion*/

/*#region Error Alert*/
.alert > button[type="button"].btn-close {
    --bs-btn-close-opacity: 0.8;
}

.alert > button[type="button"].btn-close:hover {
    --bs-btn-close-hover-opacity: 0.9;
    background-color: transparent;
}

.alert > button[type="button"].btn-close {
    filter: var(--alert-button-close-filter);
}

/*#endregion*/

/*#region Inputs*/

input::placeholder,
input::-webkit-input-placeholder {
    color: var(--placeholder-grey) !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input:focus,
select:focus,
.form-select:focus,
.form-control:focus,
a:focus-visible,
input:focus-visible,
button:focus-visible,
select:focus-visible,
.form-select:focus-visible,
.form-control:focus-visible {
    outline: none;
    box-shadow: var(--focus-box-shadow) !important;
}

input:focus,
select:focus,
.form-select:focus,
.form-control:focus {
    background-color: var(--input-focus-background);
    border-color: var(--input-focus-background);
    color: var(--input-focus-text);
}

input:disabled,
select:disabled,
.form-control:disabled,
.form-select:disabled,
.form-control:disabled:hover,
.form-select:disabled:hover {
    background-color: var(--input-disabled-background);
    color: var(--placeholder-grey);
    border-color: var(--input-disabled-border);
}


input::selection {
    background: var(--primary);
    color: var(--input-selection-text);
}

select:invalid {
    color: var(--placeholder-grey);
}

option {
    color: var(--text-color)
}

option[value=""][disabled] {
    display: none;
}

input[type="checkbox"] {
    transform: scale(1.1);
}

.input-group {
    flex-wrap: nowrap;
}

.input-group > button[type="button"] > svg,
.input-group > button[type="button"]:disabled:hover > svg {
    fill: var(--input-group-button-icon-color);
}

.input-group > button[type="button"]:hover > svg{
    fill: var(--input-group-button-hover-icon-color);
    transition: all 0.15s ease-in-out;
}

.form-check-input {
    background-color: var(--check-input-background);
    border: 1px solid var(--check-input-background);
}

.form-check-input:hover {
    cursor: pointer;
}

.form-check-input:checked {
    background-image: url("../public/checked.svg");
}

.form-check-input:active {
    filter: none;
}

.form-select {
    --bs-form-select-bg-img: var(--form-select-arrow-icon);
}

/*#endregion*/

/*#region Buttons*/

button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: none;
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    background: var(--button-background);
    color: var(--text-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:disabled,
button.disabled,
button:disabled:hover,
button.disabled:hover {
    color: var(--placeholder-grey);
    background-color: var(--button-disabled-background);
    /* border-color: var(--button-disabled-border-color); */
    cursor: auto;
}

button[type=reset] {
    background: transparent;
    font-weight: normal;
}

button[type=submit] {
    font-weight: bold;
}

button:hover,
button:focus-visible,
button[type=reset]:hover,
button[type=reset]:focus-visible {
    background-color: var(--button-hover-background);
    color: var(--text-color-accent);
}

button[type=submit]:hover:not(:disabled),
button[type=submit]:focus-visible:not(:disabled) {
    background-color: var(--button-submit-hover-background);
    color: var(--button-submit-hover-text);
}

/*delete wallet*/
button[type="button"].button--delete:hover,
button[type="button"].button--delete:focus-visible {
    background-color: var(--red);
}

/*delete row in add trancations*/
.input-group > button[type="button"].button--delete:hover,
.input-group > button[type="button"].button--delete:focus-visible {
    background: var(--red);
}

.input-group > button[type="button"].button--restore:hover,
.input-group > button[type="button"].button--restore:focus-visible {
    background: var(--green);
}

/*delete existing transaction from wallet*/
.button--delete-transaction,
.button--restore-transaction {
    color: var(--button-transaction-delete-color);
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: visible;
}

.button--delete-transaction:hover,
.button--delete-transaction:focus-visible {
    color: var(--red-light);
}

.button--restore-transaction:hover,
.button--restore-transaction:focus-visible {
    color: var(--green);
}

.input-group > button {
    width: 40px;
    z-index: 1;
}

/*#endregion*/

/*#region Form Controls*/

.form-label,
.form-control {
    font-weight: var(--font-weight-form);
}

.form-control--dark {
    color: var(--text-color);
    background-color: var(--form-control-background);
    border: 1px solid var(--form-control-border);
    border-radius: 5px;
    transition: background-color 0.15s ease-out;
}

.form-control--dark:hover,
.form-control--dark:focus-visible {
    background-color: var(--form-control-hover-background);
    border: 1px solid var(--form-control-hover-border);
}

.form-select:focus {
    background-repeat: no-repeat;
}

.form-check-input:focus {
    border-color: var(--primary);
    outline: 0;
    box-shadow: var(--focus-box-shadow);
}

.form-check-input:checked {
    background-color: var(--form-check-checked);
    border-color: var(--form-check-checked);
}

.invalid-feedback {
    color: var(--invalid-feedback-text);
    font-family: "JetBrains Mono", monospace;
    font-weight: 600;
}

/*#endregion*/

/*#region Modal*/

.modal-dialog {
    border-radius: 10px;
}

.modal-container {
    border-radius: 10px;
    background: var(--modal-background);
    padding: 5px;
}

.modal-header {
    display: block;
    padding-top: 0.5rem;
}

.modal-footer {
    margin-top: 1rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.modal-footer > * {
    margin: 0;
}

.modal-header,
.modal-footer {
    border-bottom: none;
    border-top: none;
}

.modal-title {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}

/*#endregion*/

.page-content {
    overflow: hidden;
    padding: 0.9rem 1rem 0.5rem 0.5rem;
    width: 100%;
    transition: margin-left var(--animation-duration) var(--animation-timing-curve);
}

.alert-danger {
    border: none;
    border-radius: 10px;
    color: var(--text-color);
    background: var(--alert-danger-background);
}

.popper {
    z-index: 2;
    color: var(--text-color);
    background: var(--popper-background);
    padding: 0px;
    border-radius: 5px;
    box-shadow: var(--popper-box-shadow);
}

.password-info>.strength-text {
    position: relative;
    height: 1.5rem;
    font-size: 14px;
    font-weight: 600;
}

.password-info>.strength-text.weak {
    color: var(--password-strength-weak);
    left: calc(0.25rem + 1px);
}

.password-info>.strength-text.medium {
    color: var(--password-strength-medium);
    left: calc(0.25rem + (100% / 3) + 1px);
}

.password-info>.strength-text.strong {
    color: var(--password-strength-strong);
    left: calc(0.25rem + (100% / 3 * 2) + 1px);
}

.password-strength {
    width: calc(100% - 0.5rem);
    margin: 0 0.25rem;
    height: 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.password-strength>.strength {
    padding: 0 1px;
    height: 100%;
    width: 100%;
    background-color: var(--password-strength-background);
    border-radius: 1px;
}

.password-strength>.strength.weak {
    background-color: var(--password-strength-weak);
}

.password-strength>.strength.medium {
    background-color: var(--password-strength-medium);
}

.password-strength>.strength.strong {
    background-color: var(--password-strength-strong);
}

/*#region Balance*/

.balances {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    min-height: 90px;
}

.balance-placeholder {
    border-radius: 10px;
    display: flex;
    height: 90px;
    width: 240px;
    cursor: pointer;
}

.swiper {
    overflow: visible;
}

.swiper-slide {
    width: auto;
    margin-right: 20px;
}

.swiper-slide:last-of-type {
    margin-right: 0;
}

.balance {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    height: 90px;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: var(--balance-background);
    -webkit-box-shadow: var(--balance-box-shadow);
    -moz-box-shadow: var(--balance-box-shadow);
    box-shadow: var(--balance-box-shadow);
}

.balance__currency-sign {
    position: relative;
    text-align: center;
}

.balance__currency-sign__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--balance-currency-sign-color);
}

.balance__info {
    display: flex;
    flex-direction: column;
}

.balance__info h6,
h3,
span {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balance__info__stats {
    color: var(--balance-info-stats-color);
    display: flex;
    justify-content: space-between;
}

.balance__info__stats__trend {
    margin-left: 1rem;
    display: flex;
    align-items: flex-end;
}

/*#endregion*/

/*#region Wallets*/

.wallets-header {
    display: flex;
    gap: 1rem;
}

.button--add-wallet {
    aspect-ratio: 19 / 12;
    height: 2rem;
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 18px;
    border: 1px solid var(--button-add-wallet-border-color);
    border-style: dashed;
    transition: background ease-in-out 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button--add-wallet:hover,
.button--add-wallet:focus-visible {
    border-style: solid;
    background: var(--button-add-wallet-hover-background);
    border-color: var(--button-add-wallet-hover-border-color);
}

.button--add-wallet:hover>svg,
.button--add-wallet:focus-visible>svg {
    fill: var(--button-add-wallet-icon-hover);
}

.button--add-wallet--big {
    width: 4.75rem;
    height: 3rem;
}

.wallets-placeholder {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 20px;
}

.wallets {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 20px;
}

#wallets:hover>.wallet::after {
    opacity: 1;
}

.wallet-placeholder {
    cursor: pointer;
    aspect-ratio: 19 / 12;
    border-radius: 2.6316% / 4.5454%;
    position: relative;
}

.wallet {
    background-color: rgba(255, 255, 255, 0);
    color: var(--text-color);
    cursor: pointer;
    aspect-ratio: 19 / 12;
    border-radius: 2.6316% / 4.5454%;
    position: relative;
    -webkit-box-shadow: var(--wallet-box-shadow);
    -moz-box-shadow:  var(--wallet-box-shadow);
    box-shadow:  var(--wallet-box-shadow);
}

.wallet:hover::before {
    opacity: 1;
}

.wallet::before,
.wallet::after {
    border-radius: inherit;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: opacity 500ms;
    pointer-events: none;
}

.wallet::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), var(--wallet-hover-glow-color), transparent 40%);
    z-index: 3;
}

.wallet::after {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), var(--wallet-hover-border-color), transparent 40%);
    z-index: 1;
}

.wallet>.wallet-content {
    background-color: var(--wallet-background);
    border-radius: inherit;
    overflow: hidden;
    inset: 1px;
    padding: 15px 20px;
    position: absolute;
    z-index: 2;
}

.wallet__header {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.wallet__balance {
    flex-grow: 0;
    flex-shrink: 0;
}

.add-transactions__button {
    color: var(--text-color) !important;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--button-add-transactions-border-color);
    border-style: dashed;
    transition: 0.15s ease-in-out;
}

.add-transactions__button:hover,
.add-transactions__button:focus-visible {
    border: 1px solid var(--button-add-transactions-border-color);
    background: var(--button-add-transactions-background-color);
}

.add-transactions__button:hover>svg,
.add-transactions__button:focus-visible>svg {
    fill: var(--primary);
}

.add-transactions__button > svg {
    stroke-width: var(--button-add-transactions-svg-stroke);
}

.transactions-preview-blur {
    position: absolute;
    width: 100%;
    height: calc(16px + 3rem);
    left: 0;
    bottom: 0;
    background: var(--transactions-preview-blur-background);
}

/*#endregion*/

/*#region Transaction Templates*/

.template-container {
    border-radius: 5px;
    border: 1px solid var(--template-container-border-color);
    padding: 1rem 0.25rem 0 0.25rem;
    margin: 0;
    margin-bottom: 1rem;
    transition: background-color 0.15s ease-in-out;
}

.template-container.disabled {
    border: 1px dashed var(--template-container-border-color);
    background-color: var(--template-container-disabled-background);
}

/*#endregion*/

/*#region Add Transactions*/

.transaction-container {
    border-radius: 5px;
    border: 1px solid var(--transaction-container-border-color);
    padding: 1rem 0.25rem 0 0.25rem;
    margin: 0;
    margin-bottom: 1rem;
}

.button-add-transaction-row {
    background-color: transparent;
    color: var(--button-add-transaction-row-color);
    border: 1px dashed var(--button-add-transaction-row-border-color) !important;
    transition: 0.15s ease-in-out;
}

.button-add-transaction-row:hover {
    background: var(--button-add-transaction-row-hover-background);
    color: var(--button-add-transaction-row-color);
    border: 1px solid var(--button-add-transaction-row-border-color) !important;
    transition: 0.15s ease-in-out;
}

.button-add-transaction-row:focus {
    background: var(--button-add-transaction-row-focus-background);
    border: 1px solid var(--button-add-transaction-row-border-color) !important;
    color: var(--button-add-transaction-row-focus-color);
}

/*#endregion*/

/*#region React Day Picker*/

.rdp tbody td {
    color: var(--text-color);
}

.rdp-day_today /*:not(.rdp-day_outside)*/ {
    /* font-weight: bold; */
    background: var(--rdp-day-today-background);
}

.rdp-day_today:not(.rdp-day_outside) {
    font-weight: var(--font-weight-rdp-today);
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
    color: var(--rdp-day-selected-color);
    opacity: 1;
    background-color: var(--primary);
    font-weight: 900;
}

.rdp-day_selected:focus-visible {
    outline: none;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
    background-color: var(--rdp-button-hover-background);
}

.rdp-button:focus-visible:not([disabled]) {
    color: inherit;
    background-color: var(--rdp-button-hover-background);
    border: none;
    box-shadow: var(--focus-box-shadow) !important;
}

.daypicker__submit-button {
    margin-top: 1rem;
}

/*#endregion*/

/*#region Responsiveness*/

@media screen and (min-width: 2110px) {
    #wallets {
        grid-template-columns: repeat(5, minmax(320px, 380px));
    }
}

@media screen and (max-width: 809px) {
    #root {
        flex-direction: column;
    }

    .page-content {
        padding: 1rem;
    }

    .balance__info__stats {
        display: none;
    }
}

@media screen and (max-width: 740px) {
    .wallets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wallet {
        min-width: calc(150px - 2rem);
        width: 80%;
    }
}

@media screen and (max-width: 490px) {
    .top-panel__username {
        display: none;
    }

    .wallet {
        width: 90%;
    }

    .wallet>.wallet-content {
        padding: calc(5px + 5vw);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .add-transactions__button {
        height: calc(0.75rem + 7vw);
    }

    .wallet-content>.table,
    .transactions-preview-blur {
        display: none;
    }

    .wallet-content>.wallet__header {
        flex-direction: column;
        gap: 0;
    }

    .wallet__header>h4 {
        font-size: calc(0.25rem + 5vw);
    }
}

@media screen and (max-width: 320px) {
    .top-panel .logo>.logo__text {
        display: none;
    }

    .wallet {
        width: 90%;
    }

    .wallet__balance {
        display: none;
    }

    .wallet__header>h4 {
        font-size: calc(0.25rem + 7vw);
    }

    .add-transactions__button {
        height: calc(30% + 8vw);
    }

    .add-transactions__button>svg {
        width: 10vw;
    }

    .balances {
        min-height: 40px;
    }

    .balance {
        height: 40px;
    }

    .balance__currency-sign__icon {
        display: none;
    }

    .balance__currency-sign__text {
        color: var(--text-color);
    }
}

/*#region Override Bootstrap Balues*/

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 566px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        max-width: 972px;
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}

/*#endregion*/

/*#endregion*/