body[data-theme=light],
[data-theme=light] {
    --font-weight-body: 500;
    --font-weight-form: 400;
    --font-weight-nav-link-active: 800;
    --font-weight-rdp-today: 900;
    /*Color*/
    --primary: #fec36f;
    --primary-accent: #ffd294; /*rgb(254,195,111)*/
    --primary-opaque: rgb(254, 195, 111, 0.9);
    --page-background: #f0f0f0;
    --grey-0: #a9a9a9;
    --grey-1: #b9b9b9;
    --grey-2: #c9c9c9;
    --grey-3: #d9d9d9;
    --grey-4: #e9e9e9;
    --grey-5: #f9f9f9;
    --grey-6: #ffffff;
    --placeholder-grey: var(--grey-1);
    --green: #6ed26e;
    --red: #da4747;
    --red-light: var(--red);
    --trend-green: #00ae00;
    --trend-red: red;
    --trend-grey: #aaaaaa;
    --font-weight: 500;
    --text-color: #191919;
    --text-color-accent: #090909;
    --logo-background: #101010;
    --logo-text-color: #e6e6e6;
    --bs-table-bg: transparent;
    --bs-table-color: var(--text-color);
    /*Box-shadow*/
    --popper-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
    --focus-box-shadow: 0 0 0 0.2rem rgba(254, 195, 111, 0.5);
    /*Animation*/
    --animation-duration: 300ms;
    --animation-timing-curve: ease-in-out;
    /*Swiper*/
    --swiper-scrollbar-bg-color: transparent;
    --swiper-scrollbar-drag-bg-color: var(--grey-3);
    --swiper-scrollbar-bottom: -10px;
    --swiper-scrollbar-sides-offset: 0px;
    /*Theme colors*/
    --scrollbar-track: var(--page-background);
    --scrollbar-thumb: rgba(0, 0, 0, 0.15);
    --alert-close-button-filter: none;
    --react-bootstrap-placeholder: var(--grey-2);
    --kusya: #95634d;
    --yasya: #d5854a;
    --nav-link-active-color: var(--text-color);
    --nav-link-hover-background: var(--grey-4);
    --nav-link-hover-color: var(--text-color-accent);
    --offcanvas-background: var(--page-background);
    --offcanvas-sidebar-logo-background: #0c0c0c;
    --input-focus-background: var(--grey-5);
    --input-focus-text: var(--text-color);
    --input-disabled-background: var(--grey-4);
    --input-disabled-border: var(--grey-4);
    --input-selection-text: var(--text-color);
    --check-input-background: var(--grey-5);
    --button-background: var(--grey-3);
    --button-hover-background: var(--grey-3);
    --button-disabled-background: var(--grey-4);
    --button-disabled-border-color: var(--grey-4);
    --button-submit-background: var(--primary);
    --button-submit-hover-background: var(--primary-accent);
    --button-submit-hover-text: var(--text-color-accent);
    --button-submit-disabled-background: var(--grey-3);
    --button-transaction-delete-color: var(--grey-2);
    --button-wallet-delete-svg-color: var(--grey-5);
    --button-delete-restore-svg-color: var(--grey-5);
    --input-group-button-background: var(--grey-5);
    --input-group-button-icon-color: var(--grey-0);
    --input-group-button-hover-icon-color: var(--text-color);
    --form-control-background: var(--grey-5);
    --form-control-border: var(--grey-5);
    --form-control-hover-background: var(--grey-6);
    --form-control-hover-border: var(--grey-5);
    --form-check-checked: var(--grey-5);
    --form-label-text: var(--text-color);
    --form-select-arrow-icon: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23a9a9a9%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
    --invalid-feedback-text: #ed5453;
    --modal-background: var(--grey-4);
    --alert-danger-background: linear-gradient(20deg, #f36a5f 0%, #eabfbd 100%);
    --popper-background: var(--grey-4);
    --password-strength-background: var(--grey-2);
    --password-strength-weak: #ed5453;
    --password-strength-medium: var(--primary);
    --password-strength-strong: #28bb63;
    --balance-background: var(--grey-5);
    --balance-box-shadow: 4px 4px 25px -15px rgba(0, 0, 0, 0.35);
    --balance-currency-sign-color: var(--text-color);
    --balance-info-stats-color: #000000;
    --button-add-wallet-icon: var(--grey-0);
    --button-add-wallet-icon-hover: var(--text-color-accent);
    --button-add-wallet-border-color: var(--grey-0);
    --button-add-wallet-hover-background: var(--grey-4);
    --button-add-wallet-hover-border-color: var(--grey-0);
    --wallet-background: var(--grey-5);
    --wallet-hover-glow-color: rgba(255, 255, 255, 0.2);
    --wallet-box-shadow: 4px 4px 30px -15px rgba(0, 0, 0, 0.35);
    --wallet-hover-border-color: rgba(0, 0, 0, 0.2);
    --transactions-preview-blur-background: linear-gradient(to top, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
    --button-add-transactions-border-color: var(--grey-0);
    --button-add-transactions-background-color: var(--grey-4);
    --button-add-transactions-svg-stroke: 1;
    --transaction-container-border-color: var(--grey-3);
    --template-container-border-color: var(--grey-3);
    --template-container-disabled-background: transparent;
    --button-add-transaction-row-color: var(--placeholder-grey);
    --button-add-transaction-row-border-color: var(--grey-3);
    --button-add-transaction-row-hover-background: var(--grey-5);
    --button-add-transaction-row-focus-background: var(--grey-5);
    --button-add-transaction-row-focus-color: var(--text-color);
    --rdp-day-today-background: var(--grey-4);
    --rdp-day-selected-color: var(--text-color);
    --rdp-button-hover-background: var(--grey-3);
}

/*Use preprocessor with css nesting in the nearest update*/

body[data-theme=light] .input-group>button:not(:disabled) {
    background-color: var(--input-group-button-background);
}

body[data-theme=light] button.button--delete:hover>svg,
body[data-theme=light] button.button--restore:hover>svg,
body[data-theme=light] .input-group>button.button--delete:hover>svg,
body[data-theme=light] .input-group>button.button--restore:hover>svg {
    fill: var(--button-delete-restore-svg-color);
}

body[data-theme=light] button[type="submit"] {
    background-color: var(--primary);
}

body[data-theme=light] button[type="submit"]:disabled {
    background-color: var(--grey-3);
}

body[data-theme=light] button[type="submit"]:hover:not(:disabled),
body[data-theme=light] button[type="submit"]:focus-visible:not(:disabled) {
    background-color: var(--primary-accent);
}

body[data-theme=light] .input-group>button:not(:disabled) {
    background-color: var(--grey-5);
}

body[data-theme=light] .input-group>button:hover:not(:disabled) {
    background-color: var(--grey-3);
}

body[data-theme=light] .input-group>button[type="button"]>svg {
    fill: var(--grey-0);
}

body[data-theme=light] .input-group>button[type="button"]:hover>svg {
    fill: var(--text-color);
    transition: all 0.15s ease-in-out;
}

body[data-theme=light] .input-group>button[type="button"]:disabled:hover>svg {
    fill: darkgrey;
}

body[data-theme=light] .input-group>button[type="button"].button--delete:hover,
body[data-theme=light] .input-group>button[type="button"].button--delete:focus-visible {
    background: var(--red);
}

body[data-theme=light] .modal-footer>button.button--delete>svg {
    fill: var(--grey-5);
}

body[data-theme=light] button.button--delete:hover>svg,
body[data-theme=light] button.button--restore:hover>svg,
body[data-theme=light] .input-group>button.button--delete:hover>svg,
body[data-theme=light] .input-group>button.button--restore:hover>svg {
    fill: var(--grey-5);
}

body[data-theme=light] .input-group>button[type="button"].button--restore:hover,
body[data-theme=light] .input-group>button[type="button"].button--restore:focus-visible {
    background: var(--green);
}